@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(img/wallpaperflare.com_wallpaper.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
    width: 400px;
    height: 555px;
    background: rgba(32, 38, 38, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(25px);
    border: 2px solid rgba(32, 38, 38, 0.1);
    padding: 20px;
    color: aliceblue;
}

.search-box {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.search-box i {
    position: absolute;
    left: 10px;
    font-size: 25px;
    color: aliceblue;
}

.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: aliceblue;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}

.search-box input::placeholder {
    color: aliceblue;
    text-transform: capitalize;
}

.search-box button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: aliceblue;
    font-size: 25px;
    padding: 0 40px 0 5px;
    cursor: pointer;
}

.weather-box {
    text-align: center;
    margin-top: 20px;
}

.weather-box img {
    width: 60%;
    border-radius: 10px;
    margin-top: 20px;
}

.weather-box .temperature {
    position: relative;
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
}

.weather-box .temperature span {
    position: absolute;
    font-size: 24px;
}

.weather-box .descriptions {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.weather-details {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
}

.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i {
    font-size: 4rem;
    margin-right: 10px;
}

.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
}